
h3{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: darkgoldenrod;
  }

.cartelera {
  position: relative;
  width: 90%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.cartelera:hover .image {
  opacity: 0.3;
}

.cartelera:hover .middle {
  opacity: 1;
}

.text {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/*navegador*/
.navegador {
  background-color: #d4af37;
  position: fixed;
  z-index: 100;
  width: 100%;
  font-size: 22px;
}

/*Pie de página con Logo y Datos de Contacto*/

.piepagina {
  background-color: #000000;
  color: #d4af37;
  position: absolute;
  padding: 20px 100px 40px 20px;
  width: 100%;
}