div {
  text-align: center;
}
h1,
h2,
h4 {
  text-align: center;
  color: #d4af37;
}
.row {
  border: 2px solid #d4af37;
}
.imagenes {
  width: 100%;
  height: 300px;
  border-radius: 50%;
}
.imagenes:hover {
  border: 2px groove #d4af37;
}
.borde {
  border: solid 1px black;
}
body {
  background-color: black;
}
