body {
  background-color: whitesmoke;
}

.carousel {
  display: block;
  margin: 0 auto;
}

p {
  color: dimgray;
  text-align: center;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: darkgoldenrod;
}

h4 {
  text-align: justify;
}

.trailer {
  margin-left: 10px;
  font-weight: bold;
}

.botont {
  font-weight: bold;
}

.botont:hover {
  background-color: #c2660b;
  font-weight: bold;
}

.container {
  text-align: center;
  background-color: whitesmoke;
}
h1:hover {
  color: rgb(117, 89, 17);
}

#bodyEstreno{
  background-color: black;
}

.h2Estreno{
  color: white;
}
