body {
    background-color: whitesmoke;
  }
  
.carousel {
    display: block;  
 margin: 0 auto;
  }

p{color: dimgray;
  text-align: center;

}


h1 {
  text-align: center;
  font-weight: bold;
  color: darkgoldenrod;
}

h4 {text-align: justify;

}

.trailer {margin-left: 10px;
 font-weight: bold;
 

}

.botont {
  font-weight: bold;

}

.botont:hover {background-color: #C2660B;
  font-weight: bold;

}

.container {text-align: center;
  background-color: whitesmoke;

}