
#uno, #dos, #tres{
  margin: 5px auto;  
  display: block;
}
#boton{
    color: red;
}

.accion{
    background: black !important;
}
.carousel {
    display: block;
    margin: auto;
  }
.accion {
    background-color: black;
  }
 
  #imagen{
    margin: auto 0;
    display: block;
}

#letra{
    font-size: 20px;
}

.texto-menu{
    font-size: 25px;
}

  body {
    background-color: black;
  }
  .carousel-inner {
    background-color:transparent;
  }
  
  /* Andrea */

  #bodyEstreno{
    background-color: black;
  }
  
  .h2Estreno{
    color: black;
    background-color: #dac170;
    border: 15px solid #dac170 ;
    
  }

  .h2Estreno:hover{
   color : grey;
  }

  .display-3{
    text-align: center;
    color: #d4af37;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  

